schema/les.rnc

les =
   (   
      ## The standard Smagorinsky model for Large Eddy Simulation (LES).
      element smagorinsky {
         ## A typical value for the Smagorinsky coefficient is between 0.1 and 0.2.
         element smagorinsky_coefficient {
            real
         },
         element filter_width {
            real
         }
      }
   )
