schema/shallow_water.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <include href="spud_base.rng"/>
  <include href="input.rng"/>
  <include href="boundary_conditions.rng"/>
  <include href="turbulence_parameterisation.rng"/>
  <include href="les.rng"/>
  <start>
    <element name="shallow_water_options">
      <a:documentation>The root node of the options dictionary.</a:documentation>
      <ref name="comment"/>
      <element name="simulation_name">
        <a:documentation>Model output files are named according to the simulation
name, e.g. [simulation_name]_0.vtu. Non-standard
characters in the simulation name should be avoided.</a:documentation>
        <ref name="anystring"/>
      </element>
      <element name="geometry">
        <a:documentation>Options dealing with the specification of geometry</a:documentation>
        <element name="dimension">
          <a:documentation>Dimension of the problem.
&lt;b&gt;This can only be set once&lt;/b&gt;</a:documentation>
          <element name="integer_value">
            <choice>
              <value>1</value>
              <value>2</value>
              <value>3</value>
            </choice>
          </element>
        </element>
        <element name="mesh">
          <a:documentation>The underlying mesh of vertices and edges that discretises the domain.</a:documentation>
          <choice>
            <element name="unit_mesh">
              <a:documentation>Unit mesh.</a:documentation>
              <element name="number_of_nodes">
                <a:documentation>Number of nodes along each axis</a:documentation>
                <ref name="integer_dim_vector"/>
              </element>
            </element>
            <element name="interval_mesh">
              <a:documentation>An interval mesh, going from x = 0 to x = L (where L is the length).</a:documentation>
              <element name="length">
                <ref name="real"/>
              </element>
              <element name="number_of_cells">
                <ref name="integer"/>
              </element>
            </element>
            <element name="gmsh">
              <a:documentation>Input mesh from a Gmsh .msh file.</a:documentation>
              <element name="path_to_file">
                <ref name="anystring"/>
              </element>
            </element>
          </choice>
        </element>
      </element>
      <element name="function_spaces">
        <a:documentation>The function spaces used to represent the solution fields
that are solved for.</a:documentation>
        <element name="function_space">
          <a:documentation>The function spaces used for various fields.</a:documentation>
          <attribute name="name">
            <a:documentation>The position mesh</a:documentation>
            <value>VelocityFunctionSpace</value>
          </attribute>
          <ref name="function_space_info"/>
        </element>
        <element name="function_space">
          <attribute name="name">
            <a:documentation>The position mesh</a:documentation>
            <value>FreeSurfaceFunctionSpace</value>
          </attribute>
          <ref name="function_space_info"/>
        </element>
      </element>
      <element name="io">
        <a:documentation>Input/output options</a:documentation>
        <element name="dump_format">
          <a:documentation>Format for dump files. Only vtk for now.</a:documentation>
          <element name="string_value">
            <value>vtk</value>
          </element>
        </element>
        <choice>
          <element name="dump_period">
            <a:documentation>Period between dumps in time units.

Specifies the period between each dump of the solution to disk.
A value of 0.0 indicates that there would be a dump at every timestep.</a:documentation>
            <element name="constant">
              <ref name="real"/>
            </element>
          </element>
          <element name="dump_period_in_timesteps">
            <a:documentation>Dump period, in timesteps.

Specifies the number of timesteps between each dump of the solution to disk.
A value of 0 indicates a dump at every timestep.</a:documentation>
            <element name="constant">
              <ref name="integer"/>
            </element>
          </element>
        </choice>
        <optional>
          <element name="detectors">
            <a:documentation>Output field values at particular points in space at each timestep.</a:documentation>
            <element name="locations_file">
              <ref name="anystring"/>
            </element>
            <element name="values_file">
              <ref name="anystring"/>
            </element>
          </element>
        </optional>
      </element>
      <element name="timestepping">
        <a:documentation>Options concerning the time loop.</a:documentation>
        <element name="current_time">
          <a:documentation>Current simulation time. At the start of the simulation this
is the start time.</a:documentation>
          <ref name="real"/>
        </element>
        <element name="timestep">
          <a:documentation>The time step size. If adaptive time stepping is used
then this is the initial time step size.</a:documentation>
          <ref name="real"/>
        </element>
        <element name="nonlinear_iterations">
          <a:documentation>How many nonlinear iterations in the timestepping loop</a:documentation>
          <ref name="integer"/>
          <element name="tolerance">
            <ref name="real"/>
          </element>
        </element>
        <element name="finish_time">
          <a:documentation>Simulation time at which the simulation should end.</a:documentation>
          <ref name="real"/>
        </element>
        <optional>
          <element name="steady_state">
            <a:documentation>Activate if you want to terminate the simulation once a steady state is reached.</a:documentation>
            <element name="tolerance">
              <ref name="real"/>
            </element>
          </element>
        </optional>
      </element>
      <element name="physical_parameters">
        <a:documentation>The physical parameters</a:documentation>
        <element name="gravity">
          <element name="magnitude">
            <a:documentation>Acceleration due to gravity. This is 9.8 m/s^2 on Earth.</a:documentation>
            <ref name="real"/>
          </element>
        </element>
      </element>
      <element name="core_fields">
        <a:documentation>The options available for the various fields associated with the shallow water equations.</a:documentation>
        <element name="vector_field">
          <a:documentation>Velocity (found by solving the momentum equation).</a:documentation>
          <attribute name="name">
            <value>Velocity</value>
          </attribute>
          <element name="initial_condition">
            <ref name="input_choice_real_dim_vector"/>
          </element>
          <zeroOrMore>
            <element name="boundary_condition">
              <attribute name="name">
                <data type="string"/>
              </attribute>
              <element name="surface_ids">
                <a:documentation>Surface IDs</a:documentation>
                <ref name="integer_vector"/>
              </element>
              <choice>
                <ref name="core_vector_boundary_condition"/>
                <ref name="velocity_boundary_condition"/>
              </choice>
            </element>
          </zeroOrMore>
        </element>
        <element name="scalar_field">
          <a:documentation>The deviation of the free surface height from the mean.</a:documentation>
          <attribute name="name">
            <value>FreeSurfacePerturbation</value>
          </attribute>
          <element name="initial_condition">
            <ref name="input_choice_real"/>
          </element>
          <zeroOrMore>
            <element name="boundary_condition">
              <attribute name="name">
                <data type="string"/>
              </attribute>
              <element name="surface_ids">
                <a:documentation>Surface IDs</a:documentation>
                <ref name="integer_vector"/>
              </element>
              <ref name="core_scalar_boundary_condition"/>
            </element>
          </zeroOrMore>
        </element>
        <element name="scalar_field">
          <a:documentation>The mean free surface height. Also known as the depth of the
fluid at rest (always positive).</a:documentation>
          <attribute name="name">
            <value>FreeSurfaceMean</value>
          </attribute>
          <element name="value">
            <ref name="input_choice_real"/>
          </element>
        </element>
      </element>
      <element name="equations">
        <a:documentation>The options available for the governing equations of the shallow water model.</a:documentation>
        <element name="continuity_equation">
          <a:documentation>Options for the continuity equation.</a:documentation>
          <ref name="continuity_equation_options"/>
        </element>
        <element name="momentum_equation">
          <a:documentation>Options for the momentum equation.</a:documentation>
          <ref name="momentum_equation_options"/>
        </element>
      </element>
    </element>
  </start>
  <define name="function_space_info">
    <element name="polynomial_degree">
      <ref name="integer"/>
    </element>
    <element name="continuity">
      <element name="string_value">
        <choice>
          <value>continuous</value>
          <value>discontinuous</value>
        </choice>
      </element>
    </element>
  </define>
  <define name="continuity_equation_options">
    <element name="spatial_discretisation">
      <a:documentation>Spatial discretisation options.</a:documentation>
      <element name="continuous_galerkin">
        <a:documentation>Continuous Galerkin discretisation.</a:documentation>
        <empty/>
      </element>
    </element>
    <optional>
      <element name="integrate_by_parts">
        <a:documentation>Integrate the divergence term in the continuity equation by parts.
This allows the imposition of weak boundary conditions for the Velocity field.</a:documentation>
        <empty/>
      </element>
    </optional>
    <optional>
      <element name="source_term">
        <a:documentation>Adds a source term to the RHS of the continuity equation.</a:documentation>
        <element name="value">
          <ref name="input_choice_real"/>
        </element>
      </element>
    </optional>
  </define>
  <define name="momentum_equation_options">
    <element name="spatial_discretisation">
      <a:documentation>Spatial discretisation options.</a:documentation>
      <element name="continuous_galerkin">
        <a:documentation>Continuous Galerkin discretisation.</a:documentation>
        <element name="stabilisation">
          <ref name="stabilisation_options"/>
        </element>
      </element>
    </element>
    <element name="mass_term">
      <a:documentation>Options for the mass term.</a:documentation>
      <optional>
        <element name="exclude_mass_term">
          <a:documentation>Remove the mass term from the equation.</a:documentation>
          <empty/>
        </element>
      </optional>
    </element>
    <element name="advection_term">
      <a:documentation>Options for the advection term.</a:documentation>
      <optional>
        <element name="exclude_advection_term">
          <a:documentation>Remove the mass terms from the equation.</a:documentation>
          <empty/>
        </element>
      </optional>
    </element>
    <optional>
      <element name="stress_term">
        <a:documentation>Options for the stress term div(T) where T is the stress tensor, defined by

T = viscosity*( (grad(u) + grad(u)^T) - (2/3)*div(u) )</a:documentation>
        <element name="scalar_field">
          <a:documentation>Isotropic viscosity.
Note that this is the kinematic viscosity for shallow water simulations.</a:documentation>
          <attribute name="name">
            <value>Viscosity</value>
          </attribute>
          <element name="value">
            <ref name="input_choice_real"/>
          </element>
        </element>
      </element>
    </optional>
    <optional>
      <element name="drag_term">
        <a:documentation>Options for the drag term.</a:documentation>
        <element name="scalar_field">
          <a:documentation>The drag coefficient in the quadratic drag term.</a:documentation>
          <attribute name="name">
            <value>DragCoefficient</value>
          </attribute>
          <element name="value">
            <ref name="input_choice_real"/>
          </element>
        </element>
      </element>
    </optional>
    <optional>
      <element name="source_term">
        <a:documentation>Adds a source term to the RHS of the momentum equation.</a:documentation>
        <element name="value">
          <ref name="input_choice_real_dim_vector"/>
        </element>
      </element>
    </optional>
    <optional>
      <element name="turbulence_parameterisation">
        <a:documentation>Turbulence parameterisations.</a:documentation>
        <ref name="turbulence_parameterisation"/>
      </element>
    </optional>
  </define>
  <define name="velocity_boundary_condition">
    <choice>
      <element name="type">
        <a:documentation>The no_normal_flow boundary condition weakly applies the condition

dot(u, n) = 0

if the continuity equation is integrated by parts.</a:documentation>
        <attribute name="name">
          <value>no_normal_flow</value>
        </attribute>
      </element>
      <element name="type">
        <a:documentation>Applies a Flather boundary condition:

u = u_ext + sqrt(g/H)*(h - h_ext)

where H = h + h_mean, 
and u_ext and h_ext are the exterior values of the Velocity and FreeSurfacePerturbation fields, respectively.
Note: This is a weak boundary condition. It is only applied if the divergence term in the continuity equation is integrated by parts.</a:documentation>
        <attribute name="name">
          <value>flather</value>
        </attribute>
        <element name="exterior_velocity">
          <a:documentation>The exterior value of the Velocity field</a:documentation>
          <ref name="input_choice_real_dim_vector"/>
        </element>
        <element name="exterior_free_surface_perturbation">
          <a:documentation>The exterior value of the FreeSurfacePerturbation field</a:documentation>
          <ref name="input_choice_real"/>
        </element>
      </element>
    </choice>
  </define>
  <define name="stabilisation_options">
    <choice>
      <element name="no_stabilisation">
        <empty/>
      </element>
      <element name="streamline_upwind_stabilisation">
        <a:documentation>Add a streamline upwind stabilisation term
(given by equation 2.52 in Donea &amp; Huerta (2003))
to the advection term.</a:documentation>
        <ref name="comment"/>
      </element>
    </choice>
  </define>
</grammar>
