schema/shallow_water.rnc

include "spud_base.rnc"

include "input.rnc"
include "boundary_conditions.rnc"
include "turbulence_parameterisation.rnc"
include "les.rnc"

start =
   (
      ## The root node of the options dictionary.
      element shallow_water_options 
      {
         comment,
         ## Model output files are named according to the simulation
         ## name, e.g. [simulation_name]_0.vtu. Non-standard
         ## characters in the simulation name should be avoided.
         element simulation_name 
         {
            anystring
         },
         ## Options dealing with the specification of geometry
         element geometry 
         {
            ## Dimension of the problem.
            ## <b>This can only be set once</b>
            element dimension 
            {
               element integer_value 
               {
                  ("1"|"2"|"3")
               }
            },
            ## The underlying mesh of vertices and edges that discretises the domain.
            element mesh {
               (
                  ## Unit mesh.
                  element unit_mesh {
                     ## Number of nodes along each axis
                     element number_of_nodes {
                        integer_dim_vector
                     }
                  }|
                  ## An interval mesh, going from x = 0 to x = L (where L is the length).
                  element interval_mesh {
                     element length {
                        real
                     },
                     element number_of_cells {
                        integer
                     }
                  }|
                  ## Input mesh from a Gmsh .msh file.
                  element gmsh {
                     element path_to_file
                     {
                        anystring
                     }
                  }
               )
            }
         },
         ## The function spaces used to represent the solution fields
         ## that are solved for.
         element function_spaces 
         {
            ## The function spaces used for various fields.
            element function_space 
            {
               ## The position mesh
               attribute name { "VelocityFunctionSpace" },
               function_space_info
            },
            element function_space 
            {
               ## The position mesh
               attribute name { "FreeSurfaceFunctionSpace" },
               function_space_info
            }
         },
         ## Input/output options
         element io 
         {
            ## Format for dump files. Only vtk for now.
            element dump_format 
            {
               element string_value 
               {
                  "vtk"
               }
            },
            (
               ## Period between dumps in time units.
               ##
               ## Specifies the period between each dump of the solution to disk.
               ## A value of 0.0 indicates that there would be a dump at every timestep.
               element dump_period 
               {
                  (
                     element constant 
                     {
                        real
                     }
                  )  
               }|                 
               ## Dump period, in timesteps.
               ## 
               ## Specifies the number of timesteps between each dump of the solution to disk.
               ## A value of 0 indicates a dump at every timestep.
               element dump_period_in_timesteps 
               {
                  (
                     element constant 
                     {
                        integer
                     }
                  )   
               }
            ),
            ## Output field values at particular points in space at each timestep.
            element detectors 
            {
               element locations_file 
               {
                  anystring
               },
               element values_file 
               {
                  anystring
               }
            }?
         },
         ## Options concerning the time loop.
         element timestepping 
         {
            ## Current simulation time. At the start of the simulation this
            ## is the start time.
            element current_time 
            {
               real
            },
            ## The time step size. If adaptive time stepping is used
            ## then this is the initial time step size.
            element timestep 
            {
               real
            },
            ## How many nonlinear iterations in the timestepping loop
            element nonlinear_iterations 
            {
               integer,
               element tolerance 
               {
                  real
               }
            },
            ## Simulation time at which the simulation should end.
            element finish_time 
            {
               real
            },
            ## Activate if you want to terminate the simulation once a steady state is reached.
            element steady_state 
            {
               element tolerance 
               {
                  real
               }
            }?
         },
         ## The physical parameters
         element physical_parameters 
         {
            element gravity 
            {
               ## Acceleration due to gravity. This is 9.8 m/s^2 on Earth.
               element magnitude 
               {
                  real
               }
            }
         },
         ## The options available for the various fields associated with the shallow water equations.
         element core_fields 
         {
            (
               ## Velocity (found by solving the momentum equation).
               element vector_field 
               {
                  attribute name { "Velocity" },
                  element initial_condition 
                  {
                     input_choice_real_dim_vector
                  },
                  element boundary_condition 
                  {
                     attribute name { xsd:string },
                     ## Surface IDs
                     element surface_ids 
                     {
                        integer_vector
                     },
                     (
                        core_vector_boundary_condition | velocity_boundary_condition
                     )
                  }*
               },
               ## The deviation of the free surface height from the mean.
               element scalar_field 
               {
                  attribute name { "FreeSurfacePerturbation" },
                  element initial_condition 
                  {
                     input_choice_real
                  },
                  element boundary_condition 
                  {
                     attribute name { xsd:string },
                     ## Surface IDs
                     element surface_ids 
                     {
                        integer_vector
                     },
                     (
                        core_scalar_boundary_condition
                     )
                  }*
               },
               ## The mean free surface height. Also known as the depth of the
               ## fluid at rest (always positive).
               element scalar_field
               {
                  attribute name { "FreeSurfaceMean" },
                  element value 
                  {
                     input_choice_real
                  }
               }
            )
         },
         ## The options available for the governing equations of the shallow water model.
         element equations
         {
            ## Options for the continuity equation.
            element continuity_equation
            {
               continuity_equation_options
            },
            ## Options for the momentum equation.
            element momentum_equation
            {
               momentum_equation_options
            }
         }
      }
   )
   
function_space_info =
   (
      element polynomial_degree
      {
         integer
      },
      element continuity 
      {
         element string_value
         {
            "continuous" | "discontinuous"
         }
      }
   )

continuity_equation_options =
   (
      ## Spatial discretisation options.
      element spatial_discretisation 
      {
         ## Continuous Galerkin discretisation.
         element continuous_galerkin 
         {
            empty
         }
      },      
      ## Integrate the divergence term in the continuity equation by parts.
      ## This allows the imposition of weak boundary conditions for the Velocity field.
      element integrate_by_parts {
         empty
      }?,
      ## Adds a source term to the RHS of the continuity equation.
      element source_term
      {
         element value 
         {
            input_choice_real
         }
      }?
   )

momentum_equation_options =
   (
      ## Spatial discretisation options.
      element spatial_discretisation 
      {
         ## Continuous Galerkin discretisation.
         element continuous_galerkin 
         {
            empty
         }
      },
      ## Options for the mass term.
      element mass_term 
      {
         ## Remove the mass term from the equation.
         element exclude_mass_term 
         {
            empty
         }?
      },
      ## Options for the advection term.
      element advection_term 
      {
         ## Integrate the advection term by parts.
         element integrate_by_parts 
         {
            empty
         }?,
         ## Remove the mass terms from the equation.
         element exclude_advection_term 
         {
            empty
         }?,
         ## Add a streamline upwind stabilisation term
         ## (given by equation 2.52 in Donea & Huerta (2003))
         ## to the advection term.
         element streamline_upwind_stabilisation 
         {
            comment
         }?
      },
      ## Options for the stress term div(T) where T is the stress tensor, defined by
      ##
      ## T = viscosity*( (grad(u) + grad(u)^T) - (2/3)*div(u) )
      element stress_term
      {
         ## Isotropic viscosity.
         ## Note that this is the kinematic viscosity for shallow water simulations.
         element scalar_field 
         {
            attribute name { "Viscosity" },
            element value 
            {
               input_choice_real
            }
         }
      }?,
      ## Options for the drag term.
      element drag_term
      {
         ## The drag coefficient in the quadratic drag term.
         element scalar_field 
         {
            attribute name { "DragCoefficient" },
            element value 
            {
               input_choice_real
            }
         }
      }?,
      ## Adds a source term to the RHS of the momentum equation.
      element source_term
      {
         element value 
         {
            input_choice_real_dim_vector
         }
      }?,      
      ## Turbulence parameterisations.
      element turbulence_parameterisation 
      {
         turbulence_parameterisation
      }?
   )

velocity_boundary_condition =
(
   ## The no_normal_flow boundary condition weakly applies the condition
   ##
   ## dot(u, n) = 0
   ##
   ## if the continuity equation is integrated by parts.
   element type 
   {
      attribute name { "no_normal_flow" }
   }|
   ## Applies a Flather boundary condition:
   ##
   ## u = u_ext + sqrt(g/H)*(h - h_ext)
   ##
   ## where H = h + h_mean, 
   ## and u_ext and h_ext are the exterior values of the Velocity and FreeSurfacePerturbation fields, respectively.
   ## Note: This is a weak boundary condition. It is only applied if the divergence term in the continuity equation is integrated by parts.
   element type 
   {
      attribute name { "flather" },
      ## The exterior value of the Velocity field
      element exterior_velocity 
      {
         input_choice_real_dim_vector
      },
      ## The exterior value of the FreeSurfacePerturbation field
      element exterior_free_surface_perturbation 
      {
         input_choice_real
      }
   }
)


